## C6M3L1 Item 09 - Date and time using Python

## Generic guidelines: 

Refer to the [Exercise](https://www.coursera.org/learn/database-clients/supplement/0oDtw/working-with-labs-in-this-course) for guidance on viewing your code, instructions related to the Jupyter notebook environment, as well as how to access the MySQL database in it. 

## Prerequisites: 

To complete this lab, you must have access to the `little_lemon` database. As an authorized user, you need to establish a connection between Python and the database via the MySQL Connector/Python API and create a `cursor` object using the following code:

In [1]:
import mysql.connector as connector

In [2]:
# Establish connection between Python and MySQL database via MySQL Connector/Python API
connection=connector.connect(
                             user="root",
                             password="",
                            )

In [3]:
# Create cursor object to communicate with entire MySQL database
cursor = connection.cursor()

Once the connection is established and you have a cursor object, you can select the database `little_lemon` using the code below and work with the respective table to complete the required tasks.

In [4]:
# Set the little_lemon database for use 
cursor.execute("use little_lemon")

# Confirm the datbase in use
connection.database

'little_lemon'

## Scenario: 

Little Lemon needs to schedule its staff’s duties according to the restaurant’s peak hours. They also want to display the guest’s name and their expected arrival time kitchen screen to keep the staff informed. These and several other similar tasks, such as changing the booking time, require working with the date and time column.  

You are tasked to help Little Lemon work with the date and time columns using Python for their Python-based application.

## Task 1

Little Lemon wants to retrieve the number of bookings in each hour so that they can schedule the staff duties accordingly. Use the following steps as a guide to complete this task:  

* Target the “BookingID” and “BookingSlot” columns from the “Bookings” table.  
* Extract the hour from the “BookingSlot” column and count the bookings in each hour. 
* Group and order the data by hour.  

**TIP:** Use MySQL `HOUR`, `COUNT`, `GROUP BY` and `ORDER BY` to accomplish the task.

In [5]:
select_stmt = """
SELECT HOUR(BookingSlot) AS 'booking_hour', COUNT(BookingID) AS 'n_booking'
FROM Bookings
GROUP BY HOUR(BookingSlot)
ORDER BY booking_hour;
"""

cursor.execute(select_stmt)
results = cursor.fetchall()
print("Upcoming bookings:")
for result in results:
    booking_hour = result[0]
    booking_id = result[1]
    print("Hour: {} <<>> {} Booking/s".format(booking_hour, booking_id))

Upcoming bookings:
Hour: 15 <<>> 1 Booking/s
Hour: 17 <<>> 1 Booking/s
Hour: 18 <<>> 1 Booking/s
Hour: 19 <<>> 2 Booking/s
Hour: 20 <<>> 1 Booking/s

## Task 2

Little Lemon needs to display the following information in the staff’s room: 

* Table number 
* Guest’s full name 
* Arrival time in hours and minutes (e.g., 15 hours and 0 mins) 

Help Little Lemon to retrieve and display the required information. Use the following steps as a guide to complete this task: 

* Target `TableNo`, `GuestFirstName`, `GuestLastName` and `BookingSlot` columns in the `Bookings` table.  
* Order the data by `BookingSlot`.  
* Use Python’s `datetime` module to extract hours and minutes using the `strptime` function when printing the record.

In [8]:
from datetime import datetime

select_stmt = """
SELECT TableNo, CONCAT(GuestFirstName, ' ', GuestLastName) AS 'full_name', BookingSlot
FROM Bookings
ORDER BY BookingSlot;
"""

cursor.execute(select_stmt)
results = cursor.fetchall()
print("The guests and their booking slots are:")
for result in results:
    table_number = result[0]
    fullname = result[1]
    booking_slot = result[2]

    format_data = "%H:%M:%S"
    arrival_slot = datetime.strptime(str(booking_slot), format_data)
    hour = arrival_slot.hour
    mins = arrival_slot.minute

    print("[Table no:] {} >> {} is expected to arrive at: {} hrs and {} mins".format(table_number, fullname, hour, mins))

The guests and their booking slots are:
[Table no:] 19 >> Vanessa McCarthy is expected to arrive at: 15 hrs and 0 mins
[Table no:] 15 >> Marcos Romero is expected to arrive at: 17 hrs and 30 mins
[Table no:] 5 >> Hiroki Yamane is expected to arrive at: 18 hrs and 30 mins
[Table no:] 12 >> Anna Iversen is expected to arrive at: 19 hrs and 0 mins
[Table no:] 12 >> Joakim Iversen is expected to arrive at: 19 hrs and 0 mins
[Table no:] 8 >> Diana Pinto is expected to arrive at: 20 hrs and 0 mins

## Task 3

A guest with booking ID 2 and table number 12 wants to change the arrival time by one hour. Help Little Lemon to make this change using Python in their application. Use the following steps as a guide to complete this task: 

* Target `BookingID`, `TableNo` and `BookingSlot` columns in the `Bookings` table.  
* Add one hour in the “BookingSlot”.  
* Use the `WHERE` clause on `TableNo` and `BookingID` columns.

In [9]:
select_stmt = """
SELECT BookingID,TableNo, BookingSlot, BookingSlot + INTERVAL 1 HOUR AS 'arrival_slot'
FROM Bookings
WHERE BookingID = 2 AND TableNo = 12;
"""

cursor.execute(select_stmt)
results = cursor.fetchall()
print("Booking time change ALERT!!")
for result in results:
    print("Booking ID: ", result[0])
    print("Table number: ", result[1])
    print("Booked slot: ", result[2])
    print("New arrival time: ", result[3])

Booking time change ALERT!!
Booking ID:  2
Table number:  12
Booked slot:  19:00:00
New arrival time:  20:00:00